/* FEATURE 1 */
.feature1 {
    display: flex;
   
}
.feature1-left {
    display: flex;
    width: 50%;
}
.feature1-left img{
    margin-left: -150px;
}
.feature1-right {
    display: flex;
    width: 50%;
    flex-direction: column;
    padding-right: 30px;
    justify-content: center;
}

.feature1-info_item {
    display: flex;
    margin:60px 0;
}
.feature1-icon {
    margin-right: 20px;
}

.feature1-info_item:nth-child(1) .feature-item-title{
    color:var(--red-text-color);
}
.feature1-info_item:nth-child(2) .feature-item-title{
    color:var(--green-text-color);
}
.feature1-info_item:nth-child(3) .feature-item-title{
    color:var(--blue-text-color);
}

/* FEATURE 2 */

.feature2 {
    padding: 100px 0;
}
.feature2-title-container {
    display: flex;
    margin-bottom: 50px;
    align-items: stretch;
}
.feature2-title-container h2{
    width: 50%;
    border-right: 1px solid black;
    padding: 10px;
}
.feature2-title-container p{
    width: 50%;
    padding: 10px;
}
.feature2-info {
    display: flex;
    justify-content: space-between;
}
.feature2-info_item {
    width: 23%;
}
.feature2-icon {
    margin-bottom: 30px;
}
.feature2-info_item:nth-child(1) .feature2-item-title{
    color:var(--red-text-color);
}
.feature2-info_item:nth-child(2) .feature2-item-title{
    color:var(--blue-text-color);
}
.feature2-info_item:nth-child(3) .feature2-item-title{
    color:var(--green-text-color);
}


/* FEATURE 3 */

.feature3 {
    display: flex;
    padding-bottom: 100px;
    position: relative;

}
.feature3-left {
    width: 50%;
}
.feature3-left img{
    margin-left: -100px;
}
.feature3-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 50px;
}
.feature3-right p, .feature3-right h2{
    margin-bottom: 30px;
}
.feature3-more-btn {
    width: fit-content;
}

/* FEATURE 4 */

.feature4 {
    padding: 100px 0;
    text-align: center;
}

.feature4-cards {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.feature4-card-item {
    text-align: center;
    width: 20%;
    margin: 30px;
}
.feature4-card-item img{
    margin-bottom: 20px;
}
