.nav-menu {
    height: 100px;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    background: white;
    z-index: 1000;
}
.nav-container {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    padding-top:0 !important;
}
.logo-link {
    font-size: 30px;
    font-weight: bold;
    color:var(--main-text-color);
}
.logo-link span {
   color: #FCB065;
}
.nav-items {
    margin: 0 10px;
}
.nav-items_item {
    margin: 0 10px;
}
.nav-items .reg-btn{
    margin-left: 25px;
}
